<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528085105417-ogjlru222d4g3ee0p1rt5frd706414q5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528085105417-ogjlru222d4g3ee0p1rt5frd706414q5</string>
	<key>API_KEY</key>
	<string>AIzaSyCkEtHpPTAwhnRSFi5HOyywVGP4LhQ0ke8</string>
	<key>GCM_SENDER_ID</key>
	<string>528085105417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nediar.pokemonGO.deivid</string>
	<key>PROJECT_ID</key>
	<string>pokemon-go-ef2c0</string>
	<key>STORAGE_BUCKET</key>
	<string>pokemon-go-ef2c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528085105417:ios:26d7a1e6eac6dcbe2971d8</string>
	<key>DATABASE_URL</key>
	<string>https://pokemon-go-ef2c0-default-rtdb.firebaseio.com</string>
</dict>
</plist>